version: '3.3'

services:
  evolution-api:
    image: atendai/evolution-api:v2.1.1
    container_name: evolution-api
    restart: always
    ports:
      - "8080:8080"
    environment:
      - SERVER_URL=http://localhost:8080
      - AUTHENTICATION_API_KEY=SenhaForteVivensi2026@!
      - CONFIG_SESSION_PHONE_CLIENT=VivensiApp
      - DATABASE_PROVIDER=postgresql
      - DATABASE_CONNECTION_URI=postgresql://user:password@postgres:5432/evolution?schema=public
    volumes:
      - ./instances:/evolution/instances
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    container_name: evolution-postgres
    restart: always
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=evolution
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
